@model CustomBootstrap.Models.NavigationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_Navigation", Model);
}

<div id="icons" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Music Icons</h2>
            <div class="flex-styles">
                <p><i class="bbs-mic"></i></p>
                <p><i class="bbs-vol"></i></p>
                <p><i class="bbs-cd"></i></p>
                <p><i class="bbs-mute"></i></p>
                <p><i class="bbs-note"></i></p>
                <p><i class="bbs-phones"></i></p>
                <p><i class="bbs-play"></i></p>
                <p><i class="bbs-playlist"></i></p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 1000px; background-color: beige">
    
</div>
