$col-white: #ffffff;
$col-black: #000000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.container, .container-fluid {
    & > .row {
      display: flex;
      flex-wrap: wrap;

      & > div[class^="col-"]{
        background-color: transparent;
        text-align: justify;
        color: black;
        border: red 1px solid;
        padding: 0 10px;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      .col-1{
        flex: 0 0 calc(100% * 1 / 12);
      }
      .col-2{
        flex :0 0 calc(100% * 2 / 12);
      }
      .col-3{
        flex: 0 0 calc(100% * 3 / 12);
      }
      .col-4{
        flex: 0 0 calc(100% * 4 / 12);
      }
      .col-5{
        flex: 0 0 calc(100% * 5 / 12);
      }
      .col-6{
        flex: 0 0 calc(100% * 6 / 12);
      }
      .col-7{
        flex: 0 0 calc(100% * 7 / 12);
      }
      .col-8{
        flex: 0 0 calc(100% * 8 / 12);
      }
      .col-9{
        flex: 0 0 calc(100% * 9 / 12);
      }
      .col-10{
        flex: 0 0 calc(100% * 10 / 12);
      }
      .col-11{
        flex: 0 0 calc(100% * 11 / 12);
      }
      .col-12{
        flex: 0 0 calc(100% * 12 / 12);
      }
    }
}